* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono NF, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

window {
margin: 0px;
padding: 16px;
background-color: #1C1E26;
border-radius: 20px;
}

#input {
color: #F5F5F5;
background-color: #1C1E26;
border: 2px solid #BABABA;
border-radius: 10px;
margin: 10px 5px;
}

#inner-box {
margin: 5px;
border: none;
background-color: #1C1E26;
border-radius: 20px;
}

#outer-box {
margin: 5px;
border: none;
background-color: #1C1E26;
border-radius: 20px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #BABABA;
} 
#text:selected{
color:#1C1E26;
}

#entry {
  border-radius: 0.75rem;
}

#entry:selected {
background-color: #BABABA;
}
