* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, FiraCode Nerd Font;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #BABABA;
    padding: 0px 4px;
}

tooltip {
    background: #1C1E26;
    border-radius: 10px;
    border-width: 2px;
}

#workspaces button {
    padding: 5px;
    color: #BABABA;
    margin-right: 8px;
}

#workspaces button.active {
    color: white;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-weather,
#custom-pacman,
#custom-spotify,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#window,
#tray,
#backlight {
    background: #1C1E26;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #1C1E26;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}
#window{
    border-radius: 10px;
    margin-left: 10px;
}

#clock {
    color: #29D398;
    border-radius: 10px 0px 0px 10px;
}

#network {
    color: #FAB795;
}

#bluetooth {
    color: #26BBD9;
}

#pulseaudio {
    color: #29D398;
}

#pulseaudio.microphone {
    color: #FAB795;
    border-radius: 0px 10px 10px 0px;
}

#memory {
    color: #26BBD9;
}

#cpu {
    color: #FAB795;
}

#disk {
    color: #E95678;
}

#backlight {
    color: #E95678;
}

#temperature {
    border-radius: 0px 10px 10px 0px;
    color: #FAB795;
}

#temperature.critical {
    color: #E95678;
}

#battery {
    color: #29D398;
    border-radius: 10px 0px 0px 10px;
}

#custom-weather {
    border-radius: 10px;
    margin-left: 10px;
}

#custom-spotify {
    color: #29D398;
    border-radius: 10px;
    margin-right: 10px;
}

#custom-pacman {
    color: #29D398;
    padding-right: 14px;
}
